<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
</head>

<body>
  <h1 style="color: blue">EEE3095S Practical 6</h1>
  <p>by Luc van den Handel (VHNLUC001) and Sabrina Mackay (MCKSAB001)</p>
  <p>Pi1 Status: Unknown</p>
  <a href="https://5ed128ab234cbd121f77236206f61be6.balena-devices.com/start">Start</a>
  <a href="https://5ed128ab234cbd121f77236206f61be6.balena-devices.com/stop">Stop</a>
  <a href="https://5ed128ab234cbd121f77236206f61be6.balena-devices.com/status">Check Status</a>
  <a href="https://5ed128ab234cbd121f77236206f61be6.balena-devices.com/download">Download</a>
  <a href="https://5ed128ab234cbd121f77236206f61be6.balena-devices.com/getreadings">Get Readings</a>
  <a href="https://5ed128ab234cbd121f77236206f61be6.balena-devices.com/exit">Exit</a>
  
  <p>Time | Temp Reading | Temp | Light Reading</p>
  <div style="background-color: aquamarine;">
    <p>
        None<br>
    </p>
  </div>
  
  
</body>

</html>